<h1> Welcome <%= @name %> </h1>
<h3> Below are your google contacts </h3>
<br />

<%= will_paginate @contacts %>
	<table border="0">
		<tr>
			<th> Name </th>
			<th> Emails </th>
			<th> Phones </th>
		</tr>
		<% @contacts.each do |contact| %>
			<tr>
				<% contact.to_hash.each do |key, value| %>
					<td>
						<%= "#{value}" %>
					</td>
				<% end %>
			</tr>
		<% end %>
	</table>
<%= will_paginate @contacts %>
